/* You can add global styles to this file, and also import other style files */
body {
    background-color: #171923;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}